@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.eot');
    src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Bold.eot');
    src: url('../fonts/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Bold.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Bold.woff') format('woff'),
        url('../fonts/subset-Roboto-Bold.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

$font-main: 'Roboto', sans-serif;
$font-weight-main: 700;
$font-weight-secondary: 400;

*{
    box-sizing: border-box;
}

body{
    font-family: $font-main;
    font-weight: $font-weight-main;
}

.banner{
    background-image: url(../images/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
    &-cover{
        background-color: rgba(0, 0, 0, 0.3);
        padding: 15px 0 10px 0;
    }
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.header{
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        background-image: url(../images/header-logo-bckgrnd.webp);
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 200px;
        padding: 12px 20px 12px 26px;
        &-link{
            display: inline-block;
        }
    }
    &__navigation{
        position: relative;
        &-list{
            display: none;
            flex-direction: row;
            align-items: flex-end;
            position: absolute;
            right: 10%;
        }
        &-item{
          margin-left: 10px;  
        }
        &-link{
            font-size: 20px;
            line-height: 23.44px;
            color: #715D00;
            &:hover{
                color: #F9E994;
            }
        }
        &::before{
            content: url(../images/hamburger-icon.svg)
        }
        &:hover .header__navigation-list{
            display: flex;
        }
    }
}
.product{
    padding-top: 10px;
    &__title{
        font-size: 30px;
        line-height: 30.94px;
        color: #F9E994;
        text-align: center;
        max-width: 578px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &-content__wraper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card{
        padding-top: 20px;
        &-text{
            color: #F6F7E4;
            font-size: 20px;
            line-height: 25px;
            text-align: justify;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            max-width: 439px;
            // min-width: 250px; 
        }
        &-list{
            background-color: #7FB3E1;
            max-width: 323px;
            display: block;
            margin: 10px auto 10px auto;
            border-radius: 20px;
            padding: 25px;
        }
        &-item{
            color: #DFE4DE;
            margin-bottom: 10px;
            font-size: 17px;
            line-height: 20.78px;
            display: flex;
            flex-direction: row;
            align-items: center;
            &:last-child{
                margin-bottom: 0;
            }
            &::before{
                content: url(../images/black-paw.svg);
                margin-right: 10px;
                
            }
        }
    }
    &__image{
        width: 100%;
        max-width: 710px;
    }
}

