@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Regular.eot');
    src: url('../fonts/subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Regular.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Regular.woff') format('woff'),
        url('../fonts/subset-Roboto-Regular.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/subset-Roboto-Bold.eot');
    src: url('../fonts/subset-Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Roboto-Bold.woff2') format('woff2'),
        url('../fonts/subset-Roboto-Bold.woff') format('woff'),
        url('../fonts/subset-Roboto-Bold.ttf') format('truetype'),
        url('../fonts/subset-Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

$font-main: 'Roboto', sans-serif;
$font-weight-main: 700;
$font-weight-secondary: 400;

*{
    box-sizing: border-box;
}

body{
    font-family: $font-main;
    font-weight: $font-weight-main;
}

.banner{
    background-image: url(../images/banner.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
    &-cover{
        background-color: rgba(0, 0, 0, 0.3);
        padding: 15px 0 10px 0;
    }
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
.header{
    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        background-image: url(../images/header-logo-bckgrnd.webp);
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 200px;
        padding: 12px 20px 12px 26px;
        &-link{
            display: inline-block;
        }
    }
    &__navigation{
        position: relative;
        &-list{
            display: none;
            flex-direction: row;
            align-items: flex-end;
            position: absolute;
            right: 10%;
            top: 110%;
        }
        &-item{
          margin-left: 10px;  
        }
        &-link{
            font-size: 20px;
            line-height: 23.44px;
            color: #715D00;
            &:hover{
                color: #F9E994;
            }
        }
        &::before{
            content: url(../images/hamburger-icon.svg)
        }
        &:hover .header__navigation-list{
            display: flex;
        }
    }
}
.product{
    padding-top: 15px;
    &__title{
        font-size: 30px;
        line-height: 30.94px;
        color: #F9E994;
        text-align: center;
        max-width: 578px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &-content__wraper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card{
        padding-top: 20px;
        &-text{
            color: #F6F7E4;
            font-size: 20px;
            line-height: 25px;
            text-align: justify;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            max-width: 439px;
            // min-width: 250px; 
        }
        &-list{
            background-color: #7FB3E1;
            max-width: 323px;
            display: block;
            margin: 10px auto 10px auto;
            border-radius: 20px;
            padding: 25px;
        }
        &-item{
            color: #DFE4DE;
            margin-bottom: 10px;
            font-size: 17px;
            line-height: 20.78px;
            display: flex;
            flex-direction: row;
            align-items: center;
            &:last-child{
                margin-bottom: 0;
            }
            &::before{
                content: url(../images/black-paw.svg);
                margin-right: 10px;
                
            }
        }
    }
    &__image{
        width: 100%;
        max-width: 710px;
    }
    &__order-card{
        width: 270px;
        background-color: #FDFCFC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        &-top{
            padding: 40px 0;
            background-image: url(../images/order-card-top.svg);
            background-size: contain;
            background-repeat: no-repeat;
            display: grid;
            grid-template-columns: 1fr 1fr;
            
        }
        &-title{
            color: #483C08;
            font-size: 33px;
            margin-bottom: 10px;
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: center;
        }
        &-timer{
            color: #F6E791;
            font-size: 36px;
            margin-bottom: 10px;
            grid-column-start: 1;
            grid-column-end: 3;
            text-align: center;
        }
        &-old-price{
            grid-column-start: 1;
            grid-column-end: 2;
            text-align: center;
            font-size: 30px;
            color: #6B6B6B;
        }
        &-new-price{
            grid-column-start: 2;
            grid-column-end: 3;
            text-align: center;
            font-size: 36px;
            color: #483C08;
        }
        &-form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.advantages{
    padding: 40px 0 40px 0;
    background-image: url(../images/grey-paw.svg);
    background-repeat: repeat;
    margin-bottom: 20px;
    &__title{
        text-align: center;
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
        background-image: linear-gradient(#F9E994, #537D13, #483C08);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
    }
    &__card{
        max-width: 305px;
        background-color: #F6E791;
        border-radius: 20px;
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
        padding: 15px;
        
        &-image{
            display: block;
            margin: 0 auto;
        }
        &-description{
            background-color: rgba(161, 211, 55, 0.4);
            padding: 20px 15px;
            border-radius: 20px;
        }
        &-title{
            color: #FFFFFF;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
        &-text{
            font-weight: $font-weight-secondary;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
        }
        &-list{
            display: grid;
            grid-gap: 20px;
            justify-content: center;
            
        }
    }
}
.bottom__wraper{
    background-image: linear-gradient(180deg, #E1EDF8 0%, rgba(127, 179, 225, 0) 59.37%, rgba(0, 0, 0, 0.25) 100%);
}

.container__about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.about{
    padding-top: 50px;
    &__title{
        color: #537D13;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 30px;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    &__arrow{
        width: 100%;
        height: 300px;
        display: none;

        &-wraper{
            // position: relative;
            max-width: 700px;
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }
    &__text{
        // width: 60%;
        // top: 0px;
        // position: absolute;
        // left: 15%;
        // top: 15%;
        color: #483C08;
        padding: 10px;
        border: 20px solid #D4DF6D;
        font-weight: $font-weight-secondary;
    }
    &__span{
        margin: 30px 0;
        display: block;
    }
    &__figure{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    &__image{
        max-width: 300px;
    }
}

.footer{
    background-image: url(../images/footer.svg);
    padding-top: 170px;
}

